<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="js/jquery.js"></script>-->
    <link rel="stylesheet" href="css/element-ui/element-ui-min.css">
    <link rel="stylesheet" href="css/page/pagesCommon.css">

    <!-- 引入组件库 -->
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/element-ui-min.js"></script>
    <script src="js/page/tel_1.js"></script>
</head>
<body>
<div class="fontBlue page-header">
    <h3>催收管理</h3>
</div>
<div id="app">
    <template>
        <el-row class="tableTools">
            <el-col>
                <span class="titText">批次号：</span>
                <el-input v-model="batchNumValue" placeholder="" size="small"  class="customerInput"></el-input>
                <span class="titText">客户姓名：</span>
                <el-input v-model="customerValue" placeholder="" size="small"  class="customerInput"></el-input>
                <span class="titText">还款状态：</span>
                <el-select v-model="repayStateValue" clearable placeholder="请选择"  size="small" class="stateSel">
                    <el-option
                            v-for="item in repayStateOptions"
                            :label="item.value"
                            :value="item.value">
                    </el-option>
                </el-select>
                <el-button type="primary" size="small" class="btn" @click="searchClick">搜索</el-button>
                <el-button type="primary" size="small" class="btn" @click="batchGetClick">批量领取</el-button>
            </el-col>
        </el-row>
        <el-table :data="tableData" stripe style="width: 100%"
                  :default-sort="{prop: 'time', order: 'descending'}"
                  @selection-change="handleSelectionChange">
            <el-table-column type="selection" align="center">
            </el-table-column>
            <el-table-column type="index" label="序号" width="100" align="center">
            </el-table-column>
            <el-table-column prop="time" label="进入客户池时间" align="center">
            </el-table-column>
            <el-table-column prop="batchNum" label="批次号" align="center">
            </el-table-column>
            <el-table-column prop="name" label="客户姓名" align="center">
                <template scope="scope">
                    <el-button @click="clientNameClick(scope)" type="text">{{ scope.row.name | encryptName}}</el-button>
                </template>
            </el-table-column>
            <el-table-column prop="restate" label="还款状态"
                             align="center">
            </el-table-column>
            <el-table-column prop="days" label="逾期天数"
                             align="center">
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template scope="scope">
                    <el-button @click="getTaskClick(scope)" type="text">领取</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-row class="tableTools">
            <div class="block" style="float: right">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="20"
                        layout="total, prev, pager, next"
                        :total="tableData.length">
                </el-pagination>
            </div>
        </el-row>
    </template>
</div>
<script>
</script>
</body>
</html>