<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="js/jquery.js"></script>-->
    <link rel="stylesheet" href="css/element-ui/element-ui-min.css">
    <link rel="stylesheet" href="css/page/pagesCommon.css">
    <link rel="stylesheet" href="">


</head>
<body>
<div id="app">
    <div class="fontBlue page-header">
        <h3>电催客户</h3>
    </div>
    <template>
        <el-row class="tableTools">
            <el-col>
                <span class="titText">批次号：</span>
                <el-input v-model="searchVal.batchNum" placeholder="" size="small"  class="customerInput"></el-input>
                <span class="titText">客户姓名：</span>
                <el-input v-model="searchVal.customer" placeholder="" size="small"  class="customerInput"></el-input>
                <span class="titText">委托方：</span>
                <el-select v-model="searchVal.entruster" clearable placeholder="请选择"  size="small" class="stateSel">
                    <el-option
                            v-for="item in entrusterOptions"
                            :label="item.value"
                            :value="item.value">
                    </el-option>
                </el-select>
                <span class="titText">还款状态：</span>
                <el-select v-model="searchVal.repayState" clearable placeholder="请选择"  size="small" class="stateSel">
                    <el-option
                            v-for="item in repayStateOptions"
                            :label="item.value"
                            :value="item.value">
                    </el-option>
                </el-select>
                <span class="titText">逾期天数：</span>
                <el-input type="number" :min="0" v-model="searchVal.overdueBegin"
                          placeholder="" size="small"  class="customerInput" style="margin-right:0;"></el-input>
                <span>-</span>
                <el-input type="number" :min="searchVal.overdueBegin" v-model="searchVal.overdueFinish"
                          placeholder="" size="small"  class="customerInput"></el-input>
            </el-col>
            <el-col style="margin-top: 20px;">
                <span class="titText">催收员：</span>
                <el-input v-model="searchVal.ODV" placeholder="" size="small"  class="customerInput"></el-input>
                <span class="titText">状态：</span>
                <el-select v-model="searchVal.state" clearable placeholder="请选择"  size="small" class="stateSel">
                    <el-option
                            v-for="item in stateOptions"
                            :label="item.value"
                            :value="item.value">
                    </el-option>
                </el-select>
                <el-button type="primary" size="small" class="btn" @click="searchClick">搜索</el-button>
                <el-button type="primary" size="small" class="btn" @click="distributionClick">一键分配</el-button>
            </el-col>
        </el-row>
        <el-table
                v-loading="loading"
                :data="tableData" stripe style="width: 100%"
                :default-sort="{prop: 'time', order: 'descending'}"
                @selection-change="handleSelectionChange">
            <el-table-column type="selection" align="center">
            </el-table-column>
            <el-table-column type="index" label="序号" width="100" align="center">
            </el-table-column>
            <el-table-column prop="time" label="流入时间" align="center">
            </el-table-column>
            <el-table-column prop="batchNum" label="批次号" align="center">
            </el-table-column>
            <el-table-column prop="name" label="客户姓名" align="center">
                <template scope="scope">
                    <el-button @click="clientNameClick(scope)" type="text">{{ scope.row.name | encryptName}}</el-button>
                </template>
            </el-table-column>
            <el-table-column prop="restate" label="还款状态"
                             align="center">
            </el-table-column>
            <el-table-column prop="days" label="逾期天数"
                             align="center">
            </el-table-column>
            <el-table-column prop="entruster" label="委托方"
                             align="center">
            </el-table-column>
            <el-table-column prop="collecter" label="催收人"
                             align="center">
            </el-table-column>
            <el-table-column prop="collectionState" label="状态"
                             align="center">
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template scope="scope">
                    <el-button @click="collectionClick(scope)" v-if="scope.row.collectionState=='待催收'" type="text">开始催收</el-button>
                    <el-button @click="collectionClick(scope)" v-else type="text">催收详情</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-row class="tableTools">
            <div class="block" style="float: right">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="20"
                        layout="total, prev, pager, next"
                        :total="tableData.length">
                </el-pagination>
            </div>
        </el-row>
    </template>

    <!--一键分配弹出框开始-->
    <el-dialog title="批量分配" v-model="dialogVisible">
        <div class="el-alert el-alert--info" v-show="dialogVisible" style="margin-bottom:20px;display: none;">
            <div class="el-alert__content">
                <span class="el-alert__title">当前已选择{{multipleSelection.length}}个案件，今日人均案件{{todayPer}}个。
                    已分配案件个，还剩余个案件待分配。</span>
            </div>
        </div>
        <el-table :data="dialogTableData" :default-sort="{prop: 'currentAmount', order: 'ascending'}" max-height="400">
            <el-table-column type="index" label="序号" align="center" width="70"></el-table-column>
            <el-table-column property="collecter" label="催收专员" align="center"></el-table-column>
            <el-table-column property="currentAmount" label="当前持有案件数" align="center"></el-table-column>
            <el-table-column property="assignedCase" label="可分配案件数" align="center">
                <template scope="scope">
                    <span>{{(todayPer-scope.row.currentAmount)<0?0:(todayPer-scope.row.currentAmount)}}</span>
                </template>
            </el-table-column>
            <el-table-column property="currentAmount" label="确认分配案件数" align="center">
                <template scope="scope">
                    <el-input type="number" min="0"
                              :max="((todayPer-scope.row.currentAmount)<0?0:(todayPer-scope.row.currentAmount))
                              >multipleSelection.length?multipleSelection.length:((todayPer-scope.row.currentAmount)<0?0:(todayPer-scope.row.currentAmount))"
                              size="small"></el-input>
                </template>
            </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogVisible = false">确认分配</el-button>
            <el-button type="primary" @click="dialogVisible = false">重选案件</el-button>
        </span>
    </el-dialog>
</div>
</body>
<!-- 引入组件库 -->
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/element-ui-min.js"></script>
<script src="js/page/tel_2.js"></script>
</html>